{% extends "programming/blog/blog-layout.html" %}
{% block content %}
{% for post in posts.items %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-dark">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          {% if post.tags %}
          <small class="text-dark"> | </small>
          {% for tag in post.tags.lower().split() %}
          <a class="badge badge-light" href="{{ url_for('main.user_post_tag', tag=tag) }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
          {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        <h2><a class="article-title" href="{{ url_for('admin.admin_post', post_id=post.id) }}">{{ post.title }}</a></h2>
        {% else %}
        <h2><a class="article-title" href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        {% endif %}
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
{% endblock content %}
