{% extends "admin/layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form1.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend1 }}</legend>
            <div class="form-group">
                {{ form1.title.label(class="form-control-label") }}
                {% if form1.title.errors %}
                    {{ form1.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.date_posted.label(class="form-control-label") }}
                {% if form1.date_posted.errors %}
                    {{ form1.date_posted(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.date_posted.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.date_posted(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.tags.label(class="form-control-label") }}
                {% if form1.tags.errors %}
                    {{ form1.tags(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.tags.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.tags(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.overview.label(class="form-control-label") }}
                {% if form1.overview.errors %}
                    {{ form1.overview(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.overview.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.overview(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.category.label(class="form-control-label") }}
                {% if form1.category.errors %}
                    {{ form1.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.category.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.category(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <legend class="border-bottom mb-4">Files</legend>
            <div class="form-group">
                {{ form1.thumbnail.label(class="form-control-label") }}
                {% if form1.thumbnail.errors %}
                    {{ form1.thumbnail(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.thumbnail.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.thumbnail(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.html.label(class="form-control-label") }}
                {% if form1.html.errors %}
                    {{ form1.html(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.html.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.html(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form1.submit(class="btn btn-light btn-outline-dark mb-4") }}
        </div>
    </form>
</div>
{% endblock content %}
