<!DOCTYPE html>
<!-- WRITING INDEX -->
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SUSS.SPACE/ADMIN</title>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/writing/index.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SUSS.SPACE / ADMIN</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('admin.admin_new_post') }}">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('admin.admin_new_article') }}">Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('admin.admin_account') }}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('admin.admin_logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ url_for('admin.admin_login') }}">LOGIN</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase"></div>
        </div>
      </div>
    </header>

    <section class="no" style="padding: 106px 0 0 0;">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
        </div>
    </div>
</section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; SUSS.SPACE 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
            <center><li class="list-inline-item">
                <a href="http://www.suss.space/" style="color: white;"> I  L O V E  Y O U </a>
            </li></center>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="{{ url_for('main.privacy') }}">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('main.terms') }}">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="static/js/jqBootstrapValidation.js"></script>
  <script src="static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/agency.min.js"></script>

</body>

</html>
