<!DOCTYPE html>
<!-- PROGRAMMING INDEX -->
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SUSS.SPACE/PROGRAMMING</title>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="static/css/programming/index.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SUSS.SPACE / PROGRAMMING</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#library">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#links">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('main.blog') }}">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">SPACE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Latest -->
  <section id="latest">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-heading text-lower">Latest</h2>
          <div class="card-columns customcolumn">
              {% for article in articles.items %}
              <div class="card customcard">
                <a href="{{ url_for('main.programming_article', article_id=article.id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename='img/particle/' + article.thumbnail) }}">
                <div class="card-body">
                  <h5 class="card-title">{{ article.title }}</h5>
                  <small class="text-dark">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
                  <p class="card-text">{{ article.overview }}</p>
                  <p class="card-text">{{ article.html_name }}</p>
                  <p class="card-text">{{ article.css_name }}</p>
                  {% if article.tags %}
                  {% for tag in article.tags.lower().split() %}
                  <small class="badge badge-light">{{ tag }}</small>
                  {% endfor %}
                  {% else %}
                  {% endif %}
                </div>
                </a>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Library -->
  <section class="bg-light" id="library">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase">Library</h2>
        </div>
      </div>
      <!-- By Category -->
      <div class="col-lg-10">
          <h3 class="text-uppercase">By Category</h3>
          {% for category in categories %}
          <h4 class="text-uppercase">{{ category }}</h4>
          <ul>
            {% for article in articles.items %}
            {% if article.category == category %}
              <li>
                  {{ article.date_posted.strftime('%d-%m-%Y') }}
                  <a href="{{ url_for('main.programming_article', article_id=article.id) }}">{{ article.title }}</a>
                  {% for tag in article.tags.lower().split() %}
                  <a class="badge badge-light" href="{{ url_for('main.user_post_tag', tag=tag) }}">{{ tag }}</a>
                  {% endfor %}
              </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endfor %}
      </div>
  </br>
  <div class="image">
  </div>

      <!-- By Date -->
      <div class="col-lg-10">
          <h3 class="text-uppercase">By Date</h3>
          <ul>
              {% for article in articles.items %}
              <li>
                  {{ article.date_posted.strftime('%d-%m-%Y') }}
                  <a href="{{ url_for('main.programming_article', article_id=article.id) }}">{{ article.title }}</a>
                  {% for tag in article.tags.lower().split() %}
                  <a class="badge badge-light" href="{{ url_for('main.user_post_tag', tag=tag) }}">{{ tag }}</a>
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
      </div>
      </br>
      </br>
    </div>
  </section>

  <!-- Resources -->
  <section class="" id="resources">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase">RESOURCES</h2>
          <p>Here are a list of resources I've found extremely useful over the last year or so. I am yet to utilise these resources to their full potential and they have already served me so well.</p>
          <small>* These are sugguestions not advertisements.</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h3 class="text-uppercase">Serivces</h3>
              <ul>
                  <li>HackerRank    |   <a href="https://www.hackerrank.com/">https://www.hackerrank.com/</a></li>
                  <li>Codecademy    |   <a href="https://www.codecademy.com/">https://www.codecademy.com/</a></li>
                  <li>Google Codelabs    |   <a href="https://codelabs.developers.google.com/">https://codelabs.developers.google.com/</a></li>
              </ul>
              <h3 class="text-uppercase">Other</h3>
              <ul>
                  <li>CoreyMS   |   <a href="https://coreyms.com/">https://coreyms.com/</a>
              </ul>
          </div>
          <div class="col-lg-6">
              <h3 class="text-uppercase">Docs</h3>
              <ul>
                  <li>Goalkicker    |   <a href="https://goalkicker.com/">https://goalkicker.com/</a></li>
                  <li>ML Glossary    |   <a href="https://ml-cheatsheet.readthedocs.io/en/latest/">https://ml-cheatsheet.readthedocs.io</a></li>
              </ul>
          </div>
      </div>
    </div>
  </section>

  <!-- Links -->
  <section class="bg-light" id="links">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading text-uppercase">LINKS</h2>
        </div>
      </div>
      <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <a href="https://github.com/suisuss">
                <i class="fab fa-github fa-6x"></i>
                <h4 class="service-heading">GitHub</h4>
              </a>
            </div>
            <div class="col-md-4">
              <a href="https://hub.docker.com/u/suisuss">
                <i class="fab fa-docker fa-6x"></i>
                <h4 class="service-heading">Docker</h4>
              </a>
            </div>
          </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; SUSS.SPACE 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
            <center><li class="list-inline-item">
                <a href="http://www.suss.space/" style="color: white;"> I  L O V E  Y O U </a>
            </li></center>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="{{ url_for('main.privacy') }}">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('main.terms') }}">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="static/js/jqBootstrapValidation.js"></script>
  <script src="static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/agency.min.js"></script>

</body>

</html>
