{% extends "programming/article/layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-dark">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if article.tags %}
      <small class="text-dark"> | </small>
      {% for tag in article.tags.lower().split() %}
      <a class="badge badge-light" href="{{ url_for('main.user_post_tag', tag=tag) }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
      {% endif %}
      {% if current_user.is_authenticated %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admin.admin_update_article', article_id=article.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
      {% else %}
      {% endif %}
    </div>
    <h3>The Software Infastructure of SUSS.SPACE</h3>
    <p>This site was deployed on an Ubuntu server and developed with a lightweight WSGI (Web Server Gateway Interface) application framework known as 'Flask'. The site's Flask application is run with Gunicorn (monitored by Supervisor) in conjunction with Nginx - see the diagram below. In this article I'll be explaining the deployment and coordination between these components and more.</p>
    <center><img src="/static/img/particle/MAP1.PNG" style="max-width: 100%; height: auto;"></center>
    <br></br>
    <h3>Components - Installation, Configuration and Activation:</h3>
    <p><a href="https://en.wikipedia.org/wiki/Nginx"><b>Nginx</b></a> is an open source web server that can act as a reverse proxy, load balancer, mail proxy and HTTP cache. Nginx serves as the first point of contact for HTTP requests from clients (e.g. yourself) - automatically handling any requests for static data (e.g. images) and pushing other requests onto Gunicorn.</p>
    <p>I ran an apt command for the installation of Nginx, quick and easy...</p>
    <pre>
    <code>sudo apt install nginx</code></pre>
    <p>Once installed, the location for Nginx's webserver configuration can be found in the /etc/nginx/sites-enabled/default directory. In the default config file I applied the following parameters...
    <pre>
    <code>
    server {
        listen 80;
        server_name (THE SERVERS IP/DNS);

        location /static {
            alias (PATH FOR STATIC FILES)
        }

        location / {
            proxy_pass http://localhost:8000;
            inculde /etc/nginx/proxy_params;
            proxy_redirect off;
        }
    }
    </code>
    </pre>
    <p>The server listens on port 80 for HTTP traffic from clients, presenting itself as the identity given for server_name. Nginx then delegates it's requests amongst the set channels <code>location /static</code> and <code>location /</code>. The former, being given the directory path to retrieve the requested data indicated by <code>alias</code>. The latter, being given a network path to forward it's other HTTP requests further, this is indicated by the <code>proxy_pass</code> (and it's the same channel Gunicorn will be listening for requests), following that is the inclusion of some parameters provided by Nginx upon installation (<code>inculde /etc/nginx/proxy_params;</code>) and an additional setting (<code>proxy_redirect off;</code>).</p>
    <small><a href="https://nginx.org/en/docs/">Read Nginx docs here.</a></small>
    <br></br>
    <p><b>Nginx - Activation</b></p>
    <p>Once installed and configured, activation was simple.</p>
    <pre><code>sudo nginx start</code></pre>
    <hr></hr>
    <p><a hre="https://en.wikipedia.org/wiki/Gunicorn"><b>GUNICORN (Green Unicorn)</b></a> is a WSGI server that runs Python web application code. Gunicorn runs the site's Flask application listening on local port 8000 for HTTP traffic forwarded from Nginx. I installed Gunicorn with the following pip command.</p>
    <pre><code>pip install gunicorn</pre></code>
    <p>I didn't find it necessary to apply or change parameters for gunicorn, though this can easily be done by creating a 'gunicorn.conf.py' file in the /etc/gunicorn/config/ directory.</p>
    <small><a href="https://docs.gunicorn.org/en/stable/configure.html">Read the docs for more.</a></small>
    <br></br>
    <p><a href="https://en.wikipedia.org/wiki/Flask_(web_framework)"><b>Flask</b></a>, as mentioned earlier, is a lightweight <a href="https://wsgi.readthedocs.io/en/latest/">WSGI (Web Server Gateway Interface)</a> application framework. With the site's application being something that was programmed, it's a large subject to cover. For convience, I've posted a copy of the app's respository on GitHub for reference. <a href="https://github.com/suisuss/suss.space">Click here</a></p>
    <p>I installed many flask modules and dependencies to help build the application, those dependencies can be found within the requirements.txt file - most of which can be installed using pip.</p>
    <p>Looking at the repository - The run.py script imports and runs the app from the __init__.py file where it's been initalised with it's core components and configuration.</p>
    <small><a href="http://flask.palletsprojects.com/en/1.1.x/">Flask docs</a></small>
    <br></br>
    <p><a href="https://en.wikipedia.org/wiki/SQLite"><b>SQLITE</b></a> is a relational database management system that Flask easily calls upon with it's <code>flask-sqlalchemy</code> import module. SQLite is preinstalled on most devices today so installment wasn't required, nor did I change/implement any sort of configuration. Only towards the end of development did I learn how to type up a database schema file and import it to a database with <code>site.db < db.schema</code>. Prior to this, I was manually dropping and creating tables with new schemas everytime I wanted to make changes.</p>
    <small><a href="https://www.sqlitetutorial.net/">Where I learnt most of what I needed to know.</a></small>
    <br></br>
    <p><b>Gunicorn + Flask - Activation</b></p>
    <p>You can run Gunicorn with a Flask application using the command:</p>
    <pre><code>gunicorn -w [number of workers] [Flask application filename]:[application variable with file]</pre></code>
    <small><code> - The number of workers being 2 * (the number of cores your CPU has) + 1.</code></small>
    <p>So once I finished programming the SUSS.SPACE Flask application I ran <code>gunicorn -w 3 run:app</code> as my server has 1 core, the Flask application filename is 'run.py' and the variable I used for the application is 'app'.</p>
    <hr></hr>
    <p><a href="http://supervisord.org/index.html"><b>SUPERVISOR</b></a> is a <a href="https://en.wikipedia.org/wiki/Supervisory_program">supervisory program</a> I used to monitor the execution of Gunicorn. Supervisor logs data on the performance of Gunicorn while booting, restarting and killing the program where neccesary. I  also installed supervisor with the simple apt install command:</p>
    <pre><code>sudo apt install supervisor</pre></code>
    <p>Once installed, I then created a configuration (.conf) file specific for running my Flask application with Gunicorn in the /etc/supervisor/conf.d/ directory. That looks like this...</p>
    <pre>
    <code>
    [program:ss_flaskapp]
    directory=(Directory path to my flask application)
    command=(Path to gunicorn command file) -w 3 run:app
    user=(The server user the supervising is for)
    autostart=true
    autorestart=true
    stopasgroup=true
    killasgroup=true
    stderr_logfile=var/log/ss_flaskapp/flaskapp.err.log
    stdout_logfile=var/log/ss_flaskapp/flaskapp.out.log
    </code>
    </pre>
    <p>Basically supervisor runs as a service upon boot up executing the command for Gunicorn to host the application.</p>
    <small><a href="http://supervisord.org/index.html">Read the docs for Supervisor here.</a></small>
    <hr></hr>
    <p>And that is the full software infastructure of SUSS.SPACE, excluding the OS details.</p>
    <p><b>Note:</b></p>
    <p> - Nginx can be substituted with an Apache webserver, at which point Apache's mod_wsgi module might as well subtitute Gunicorn.</p>
    <p> - This is just the begining.</p>
    <p>Click on the article's hashtags to read blog posts related to the article's creation.</p>
    <p>I'm sure there's plenty for me to improve on. If you've got any feedback please contact me, it would be much appreciated.</p>
  </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('admin.admin_delete_article', article_id=article.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
